body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

.pokedex {
    width: 800px;
    height: auto;
    /* Cambiar de fixed height a auto para que se ajuste al contenido */
    border: 6px solid #000;
    border-radius: 20px;
    margin: 50px auto;
    background: rgb(47,31,18);
    background: linear-gradient(90deg, rgba(47,31,18,1) 0%, rgba(59,37,26,1) 50%, rgba(47,31,18,1) 100%); 
    position: relative;
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos internos se apilen verticalmente */
}

.top-section {
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-section .pokeball {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 50%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Poké_Ball_icon.svg');
    background-size: cover;
    margin-right: 10px;
}

.top-section .title {
    display: flex;
    align-items: center;
}

.top-section .title h1 {
    font-size: 36px;
    margin: 0;
    color: #000;
}

.top-section .line {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #000;
}

.main-screen {
    display: flex;
    /* Cambia la disposición a flexbox */
    flex-direction: row;
    /* Coloca los elementos en fila */
    width: 90%;
    height: 257px;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 22px;
    align-items: center;
    justify-content: space-around;
    /* Espacio entre los elementos */
}

.poke {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* Ajusta el tamaño relativo */
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-top: 6px solid #000;
    border-radius: 0 0 20px 20px;
    padding: 10px 0;
    /* Espaciado vertical dentro de la sección */
}

.bottom-section .info-bar span {
    font-size: 12px;
    color: #000;
}

.bottom-section .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espacio entre los botones */
}

.bottom-section .buttons .button {
    width: 30px;
    height: 30px;
    background-color: #666;
    border: 2px solid #000;
    border-radius: 50%;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-bottom: 20px;
    /* Añadir un margen para separar la sección de botones */
}

.image-container {
    position: relative; /* Asegúrate de que el contenedor tenga posición relativa */
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 10px;
    width: auto;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.pokemon-id {
    position: absolute; /* Coloca el ID en una posición absoluta */
    top: 10px; /* Ajusta según sea necesario */
    left: 10px; /* Ajusta según sea necesario */
    color: white; /* Cambia el color según tu preferencia */
    font-size: 24px; /* Cambia el tamaño de la fuente según tu preferencia */
    font-weight: bold; /* Negrita */
}




@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
        /* Cambia este valor para ajustar la altura de la flotación */
    }

    100% {
        transform: translateY(0);
    }
}

.image-container img {
    width: 200px; /* Cambia este valor según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    animation: float 3s ease-in-out infinite; /* Aplica la animación */
}



.stats-container {
    background: rgb(144,67,30);
    background: radial-gradient(circle, rgba(144,67,30,1) 0%, rgba(194,93,45,1) 50%, rgba(144,67,30,1) 100%); 
    padding: 20px;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 10px;
    flex: 1;
    height: 270px;
    margin-right: 20px;
}

.bottom-section .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section .search-container input {
    width: 200px;
    /* Ajusta el tamaño según lo necesites */
    padding: 8px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 10px;
}

.bottom-section .search-container button {
    padding: 8px 12px;
    background-color: #666;
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.codepen-button {
    display: block;
    cursor: pointer;
    color: white;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
}

.codepen-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    background-size: 25% 100%;
    animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.25s ease-out;
}

.codepen-button:hover::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
    to {
        transform: translateX(-25%);
    }
}

.codepen-button span {
    position: relative;
    border-radius: 3px;
    height: 100%;
}