<div class="pokedex">
    <div class="top-section">
        <div class="pokeball"></div>
        <div class="title">
            <h1>POKEDEX</h1>
        </div>
        <div class="line"></div>
    </div>
    <div class="content">
        <div class="image-container">
            <span class="pokemon-id">#{{ pokemonId }} <span *ngIf="isShiny"> / Shiny</span></span> 
            <img [src]="pokemonImageUrl" alt="Pokémon" />
        </div>                      
        <div class="stats-container">
            <app-graficos [stats]="currentStats"></app-graficos>
            <div class="pokemon-info">
                <p><strong>Nombre:</strong> {{ pokemonName }} ----- <strong>Tipo:</strong> {{ pokemonType }}</p>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="search-container">
            <input 
                type="text" 
                id="pokemon-input" 
                placeholder="Ingresa el número o nombre del Pokémon..." 
                #pokemonInput 
                (keyup.enter)="searchPokemon(pokemonInput.value)" />
            <button (click)="searchPokemon(pokemonInput.value)">Buscar</button>
            <button (click)="toggleShiny()" class="codepen-button"><span>Mostrar Shiny</span></button>
        </div>
    </div>
</div>
