.stats-container {
    background: rgb(29,69,140);
    background: linear-gradient(90deg, rgba(29,69,140,1) 0%, rgba(143,255,254,1) 50%, rgba(29,69,140,1) 100%); 
    padding: 20px;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    flex: 1;
    align-content: flex-start;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stat-bar {
    width: 60%;
    height: 10px;
    background-color: #000000;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    border: 1px solid #000;
}

.stat-bar div {
    height: 100%;
}

.hp-bar {
    background-color: #004b13;
    width: 30%;
}

.attack-bar {
    background-color: #f44336;
    width: 56%;
}

.defense-bar {
    background-color: #00a2ff;
    width: 5%;
}

.speed-bar {
    background-color: #0027d4;
    width: 47%;
}

.sp-attack-bar {
    background-color: #d45f00;
    width: 5%;
}

.sp-defense-bar {
    background-color: #00ff95;
    width: 10%;
}

.total-bar {
    background-color: #6f3bff;
    width: 72%;
}
